.box {
    display: flex;
    align-items: center;
    padding: 5px;
    /* justify-content: center; */
    /* flex-direction: column; */
    /* border:1px solid ; */
  }
  
.linkDiv{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    padding: 5px;
}
.box div {
    /* border:1px solid; */
    display: inline-block;
    margin-left: 5px;
}

.category {
    display: flex;
    /* overflow-x: auto; */
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* border:1px solid ; */
    height: fit-content;
  }